img {
  margin-top: 100px;
  border-radius: 90px;
  object-fit: cover; }

h2 {
  font-size: 18px; }

  body {
    color: white;
  }
.gradient-background {
  background: linear-gradient(41deg,#074407,#539d53,#43a743,#094e09);
  background-size: 300% 300%;
  animation: gradient-animation 16s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button{
  color: black;
}
.socialButtons {
  background-color: transparent;
  border-color: white;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 25px;
  padding: 10px 10px 10px 10px;
  width: 450px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.socialButtons:hover {
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

.fa {
  font-size: 20px;
  float: left;
  margin-right: 10px; }

#emailButton {
  float: none;
  margin-left: 43px; }

.fa.fa-copy {
  font-size: 20px;
  float: none;
  margin-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.fa.fa-copy #toolTipText {
  visibility: hidden;
  font-size: 15px;
  width: 85px;
  background-color: white;
  border-color: black;
  color: black;
  text-align: center;
  bottom: 50%;
  margin-left: -42px;
  border-radius: 4px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 1s; }

.fa.fa-copy:hover #toolTipText {
  visibility: visible;
  opacity: 1; }

.fa.fa-copy:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }

body {
  text-align: center; }

